/* Laptop 6:47pm */
header
{
	text-align: center;
}
#foto_banner
{
	background: url("../img/VistaMonarca.JPG");
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	height: 480px;
}

#contenido
{
	display: block;
}

#contenido
{
	text-align: center;
}
#contenido img  
{
	width: 200px;
	height: 200px;
	padding: 30px;

}